@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('uni-sans.heavy-caps.otf') format('opentype');
}
@font-face {
  font-family: "Whitney";
  src: url('whitneymedium.otf') format('opentype')
}

.App {
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  font-family: "Whitney","Helvetica","Arial";
  background-image: linear-gradient(#FFCA28, #FFA000, #F57C00, #000000);
}

h1.a{
  font-family: "Whitney","Helvetica","Arial";
  align-items: center;
  color: white;
}

h1.b{
  font-family: "Uni Sans Heavy";
  font-size: 100px;
  vertical-align: center;
  align-items: center;
  color: white;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10%;
  max-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

h1.a{
  font-family: "Whitney","Helvetica","Arial";
  align-items: center;
  color: white;
}

h1.b{
  font-family: "Uni Sans Heavy";
  font-size: 100px;
  vertical-align: center;
  align-items: center;
  color: white;
}

.App-img {
  float: left;
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom:5vh;
}

.social-container {
  padding: 25px 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}